blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cymem==2.0.6
easyocr==1.4.1
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.2.0/es_core_news_md-3.2.0-py3-none-any.whl
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.2.0/es_core_news_sm-3.2.0-py3-none-any.whl
Flask==2.0.2
idna==3.3
imageio==2.9.0
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
langcodes==3.3.0
MarkupSafe==2.0.1
murmurhash==1.0.6
networkx==2.6.3
numpy==1.21.5
opencv-python==4.5.5.62
opencv-python-headless==4.5.5.62
packaging==21.3
pathy==0.6.1
pdf2image==1.16.0
Pillow==8.2.0
preshed==3.0.6
pydantic==1.8.2
pyparsing==3.0.7
pytesseract==0.3.8
python-bidi==0.4.2
PyWavelets==1.2.0
PyYAML==6.0
requests==2.27.1
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
thinc==8.0.13
tifffile==2021.11.2
torch==1.10.2
torchvision==0.11.3
tqdm==4.62.3
typer==0.4.0
typing-extensions==3.10.0.2
urllib3==1.26.8
wasabi==0.9.0
Werkzeug==2.0.2
zipp==3.7.0
